*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
}

html{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--bg-primary-color);
  color: var(--text-primary-color);
}

main{
  width: 100%;
}

main section{
  width: 100%;
  padding: var(--padding-2xl);
  display: flex;
  gap: var(--gutter-lg);
}

.btn{
  padding: var(--padding-sm) var(--padding-lg);
  border: none;
  outline: none;
  border-radius: var(--border-radius-md);
  background-color: var(--bg-active-color);
  cursor: pointer;
  color: var(--text-active-color);
}

#reset-btn{
  background-color: var(--bg-danger-color);
  color: var(--text-primary-color);
  font-size: var(--font-md);
}

#download-btn{
  background-color: var(--bg-success-color);
  color: var(--text-primary-color);
  font-size: var(--font-md);
}

main section .left{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gutter-lg);
  width: 70%;
}

main section .right{
  width: 30%;
  background-color: var(--bg-secondary-color);
  padding: var(--padding-lg);
  border-radius: var(--border-radius-lg);
}

main section .top{
  display: flex;
  align-items: center;
  gap: var(--gutter-lg);
}

main section .bottom{
  background: var(--bg-primary-gradient);
  width: 100%;
  padding: var(--padding-2xl);
  aspect-ratio: 6/3.7;  /* 5:3 as in youtube - 16:9 first one is width, second one is height */
  border-radius: var(--border-radius-xl);
  display: flex;
  justify-content: center;
  align-items: center;
}

main section .bottom .box{
  width: 100%;
  height: 100%;
  background: var(----bg-primary-gradient);
  border-radius: var(--border-radius-lg);
  border: 2px dashed var(--bg-active-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-secondary-color);
  font-size: var(--font-lg);
}

main section .bottom .placeholder{ 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  opacity: 0.6; 
  gap: var(--gutter-sm) 
}

main section .bottom .placeholder i{
  font-size: 7rem;
}

main section .bottom .placeholder p{
  font-size: var(--font-size-lg);
}

main section .right{
  display: flex;
  flex-direction: column;
  gap: var(--gutter-md);
}

main section .right .filters{
  display: flex;
  flex-direction: column;
  gap: var(--gutter-sm);
}

main section .right .filter{
  width: 100%;
}

main section .right .filter input{
  width: 100%;
  outline: none;
  margin-top: var(--margin-sm);
}

canvas{
  max-width: 90%;
  max-height: 100vh;
}